<div id="heading">
    <img [src]="ImagePath" width="30" height="30">
    <a> BANK-APP</a>
</div>
<div>
    <nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
        <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" routerLink="/listuser" routerLinkAction="active">LIST USERS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/activateuser" routerLinkAction="active">ACTIVATE USER</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/deleteuser" routerLinkAction="active">DELETE USER</a>
                </li>
            </ul>
        </nav>
        <button type="submit" (click)="logout()" class="btn btn-outline-success my-2 my-sm-0"
            id="logout">LOG-OUT</button>

    </nav>
</div>


<router-outlet></router-outlet>