<app-adminmenu></app-adminmenu>




<table class=table table-bordered>
    <thead>
        <tr>
            <th>No.</th>
            <th>ACCOUNT NUMBER</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>MOBILE NUMBER</th>
            <th>GENDER</th>
            <th>AMOUNT</th>
            <th>USER TYPE</th>
            <th>STATUS</th>
            <th>OPERATION</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let users of user;let i=index">
            <td>{{i+1}}</td>
            <td>{{users.accountNumber}}</td>
            <td>{{users.name}}</td>
            <td>{{users.age}}</td>
            <td>{{users.mobileNumber}}</td>
            <td>{{users.gender}}</td>
            <td>{{users.amount}}</td>
            <td>{{users.role}}</td>
            <td>{{users.status}}</td>
            <td> 
                <button type="submit" (click)="deleteuser(users.mobileNumber)">DELETE</button>
            </td>
        </tr>
    </tbody>
</table>